<div id="csrf" data-token=<%=data.csrf%>></div>
<script src="/static/libraries/jquery/jquery.min.js"></script>
<script src="/static/libraries/moment/moment.min.js"></script>
<script src="/generated/styles.bundle.js"></script>