<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login</title>
    </head>
    <body>
        <%- include("../components/header.ejs", {data: data}); -%>
        <%- include("../components/navbar.ejs", {data: data}); -%>
        <div class="page-centered">
            <div id="account-box" class="display-modal-small">
                <div style="float:left;">
                    <div 
                        data-component="Tab" 
                        data-prop-group="account_forms" 
                        data-prop-name="login-tab" 
                        data-prop-text="Log in"
                    ></div><!--
                    --><div 
                        data-component="Tab" 
                        data-prop-group="account_forms" 
                        data-prop-name="signup-tab" 
                        data-prop-text="Sign up"
                    ></div>
                </div>
                <div style="clear:both;"></div>
                <div class="login-tab">
                    <div data-component="LoginForm"></div>
                </div>
                
                <div class="signup-tab">
                    <div data-component="SignupForm"></div>
                </div>
            </div>
        </div>
        <%- include("../components/footer.ejs", {data: data}); -%>
    </body>
</html>