<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Home</title>
    </head>
    <body>
        <%- include("../components/header.ejs", {data: data}); -%>
        <%- include("../components/navbar.ejs", {data: data}); -%>
        <div class="page-centered">
            <div class="content-box center-text">
                <p class="big-text">404</p>
                <p>
                    <%- `${data.requested}` -%> not found
                </p>
            </div>
        </div>
        <%- include("../components/footer.ejs", {data: data}); -%>
    </body>
</html>